/*  your css code here. If applicable */
 table, th, td, tr {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        background-color: yellow;
        width: 50%;
        margin: 20px auto;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    caption {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    th, td {
        padding: 10px;
    }